
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div class="area row border">
    
</div>

@section Scripts{
    <script src="~/js/travel.js"></script>
    <script>
        const area = document.querySelector(".area");
        console.log(area)
        spots.CommonFormat.Section.forEach((data, index) => {
            // const node = document.createElement("div");
            // area.appendChild(node)
            // const target = area.childNodes
            let htmlString = ``
            data.file.img.forEach((ele, index) => {

                
                htmlString += `<img class="card-img-top" src = ${ele.text} alt = "Card image cap" >`
                
            })
            let template = `
            <div class="card m-2" style="width: 18rem; ">
                                ${htmlString}
                        <div class="card-body">
                            <h5 class="card-title">
                                ${data.stitle} </h5>
                                <p class="card-text" > ${data.xbody}</p>
                                </div>
                                </div>
                                        `
            area.innerHTML += template 
            // console.log(target[index+1])
            // target[index + 1].classList.add("col-4")
            // target[index + 1].style.display="inline"
        })
        
    </script>

}

